<% provide(:title, 'Contacto') %>
<p class="niceText">¡Ll&aacute;manos!</p>
<span class="niceText">Horarios:</span>
<span class="blueText" style="font-size: 125%;">Lunes a Viernes: 8:00am a 8:00pm</span>
<span class="blueText" style="font-size: 125%;">S&aacute;bado y Domingo: 8:00am a 7:00pm</span>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="blueText" style="font-size: 150%;">Tel&eacute;fono: 8007-03-31</span>
<span class="niceText">Email:<%= link_to "cocoadesserts@hotmail.com", "mailto:cocoadesserts@hotmail.com", style: "text-decoration: underline;" %></span>